# Next.js
.next/
out/

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build output
/public/sitemap*.xml
/public/robots.txt

# OS
.DS_Store

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
